{% extends "base.html" %}
{% block title %}Sub-Account Opened{% endblock %}
{% block body %}
<font size="4"><b>Sub-Account Opened</b></font><br><br>
<table class="t1" border="1">
<tr><td>New Account Number</td><td>{{ a.number }}</td></tr>
<tr><td>Account Type</td><td>{{ a.type }}</td></tr>
<tr><td>Nickname</td><td>{{ a.nickname }}</td></tr>
<tr><td>Opening Balance</td><td>${{ "{:,.2f}".format(a.balance) }}</td></tr>
</table>
<br><a href="/members/{{ m.member_id }}">Return to Member Detail</a>
{% endblock %}
