{% extends "base.html" %}
{% block title %}Open Sub-Account{% endblock %}
{% block body %}
<font size="4"><b>Open Sub-Account</b></font><br><br>
<form method="post" action="/accounts/review">
<input type="hidden" name="mid" value="{{ m.member_id }}">
<table class="t1">
<tr><td>Member #:</td><td>{{ m.member_id }} &nbsp; {{ m.name }}</td><td></td></tr>
<tr><td>Account Type:</td>
    <td><select name="f1">
        <option value="">-- Select --</option>
        {% for t in types %}<option{% if form.f1 == t %} selected{% endif %}>{{ t }}</option>{% endfor %}
    </select></td>
    <td class="err">{{ errors.f1 or '' }}</td></tr>
<tr><td>Nickname:</td><td><input type="text" name="f2" size="20" value="{{ form.f2 or '' }}"></td><td class="err">{{ errors.f2 or '' }}</td></tr>
<tr><td>Initial Deposit:</td><td><input type="text" name="f3" size="10" value="{{ form.f3 or '' }}"></td><td class="err">{{ errors.f3 or '' }}</td></tr>
<tr><td></td><td><input type="submit" value="Continue"></td><td></td></tr>
</table>
</form>
<a href="/members/{{ m.member_id }}">Cancel</a>
{% endblock %}
